/* Color Palette */
/* Orange */
/* #E27D60 */

/* Teal: Background; */ 
/* #7DC2AE */

/* Beige */
/* #E8A87C */

/* Maroon */
/* #C38D9E */

/* Green */
/* #41B3A3 */

body {
  background-color: #7DC2AE;
}

h1 {
  width: 80%;
  border: 3px solid #C38D9E;
  border-radius: 3em;
  margin: .8em auto;  
  background-color: #E8A87C;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.search-box {
  width: 40%;
  margin: 1em auto;
  height: 3em;
  line-height: 3em;
  border-radius: 3em;
}

input[type=text] {
  text-align: center;
}

.loading {
  padding: 5rem 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

.list-display {
  width: 80%;
  margin: auto;
}

.list-display a {
  color: black;
  text-decoration: none;
}

.list-display ul {
  width: 75%;
  margin: auto;
}

.list-display li {
  height: 3em;
  margin: 5px auto;
  line-height: 3em;
  background-color: #E27D60;
  border-radius: 3em;
  border: 3px solid #C38D9E;
}

button:hover, .list-display li:hover {
  background-color: #C38D9E;
}

.movie-details {
  width: 80%;
  text-align: center;
  margin: 0 auto 3em;
}

.movie-details form {
  clear: both;
}

.btn {
  width: 80%;
  margin: .5rem;
  padding: 1rem;
  border: 3px solid #C38D9E;
  border-radius: 3em;
  background-color: #E27D60;
  font-size: 16px;

}
.cast-member {
  float: left;
  width: 30%;
  height: 10rem;
  background-color: #E27D60;
  margin: .5rem;
  border: 3px solid #C38D9E;
}

.poster {
  height: 20em;
}
.cast-portrait {
  height: 5em;
}


.genres-list {
  width: 50%;
  text-align: center;
  margin: auto;
  background-color: #E8A87C;
  border-radius: 50%; 
}